<div class="flex justify-between">
  <div class={{if this.player1Turn "border-b-4 border-teal-500"}}>
    <span class="inline-block text-gray-700">
      Player 1
    </span>

    <span class="inline-block ml-4 text-2xl font-semibold">{{this.player1Score}}</span>
  </div>

  <div class={{if this.player2Turn "border-b-4 border-teal-500"}}>
    <span class="inline-block text-gray-700">
      Player 2
    </span>

    <span class="inline-block ml-4 text-2xl font-semibold">{{this.player2Score}}</span>
  </div>
</div>

<div class="mt-4">
  {{#if this.hasWinner}}
    <div class="px-4 py-2 text-2xl text-center bg-blue-200 text-blue-800 rounded">
      Player {{this.currentPlayer}} wins!!! 🎉
    </div>
  {{else}}
    <div>
      <span class="inline-block">Current turn score:</span>
      <span class="inline-block ml-4 text-2xl font-semibold">{{this.currentTurnScore}}</span>
    </div>
  {{/if}}
</div>

{{#if this.hasWinner}}
  <div class="mt-8 text-center">
    <button
      type="button"
      class="py-4 px-3 w-1/2 text-lg font-semibold bg-green-300 text-green-900 rounded-lg focus:outline-none focus:shadow-outline"
      {{on "click" this.newGame}}
    >
      New Game
    </button>
  </div>
{{else}}
  <div class="mt-8">
    <div class="text-5xl font-semibold">
      {{this.currentNumber}}
    </div>

    <div class="mt-8 flex">
      <div>
        <div>
          <button
            type="button"
            class="w-16 h-16 bg-purple-500 text-purple-100 rounded-full focus:outline-none focus:shadow-outline"
            {{on "click" (fn this.numberEntered 2)}}
          >
            2
          </button>
          <button
            type="button"
            class="w-16 h-16 bg-purple-500 text-purple-100 rounded-full focus:outline-none focus:shadow-outline"
            {{on "click" (fn this.numberEntered 3)}}
          >
            3
          </button>
          <button
            type="button"
            class="w-16 h-16 bg-purple-500 text-purple-100 rounded-full focus:outline-none focus:shadow-outline"
            {{on "click" (fn this.numberEntered 4)}}
          >
            4
          </button>
        </div>
        <div class="mt-2">
          <button
            type="button"
            class="w-16 h-16 bg-purple-500 text-purple-100 rounded-full focus:outline-none focus:shadow-outline"
            {{on "click" (fn this.numberEntered 5)}}
          >
            5
          </button>
          <button
            type="button"
            class="w-16 h-16 bg-purple-500 text-purple-100 rounded-full focus:outline-none focus:shadow-outline"
            {{on "click" (fn this.numberEntered 6)}}
          >
            6
          </button>
          <button
            type="button"
            class="w-16 h-16 leading-none text-xl bg-teal-500 text-teal-100 rounded-full focus:outline-none focus:shadow-outline"
            {{on "click" this.addToScore}}
          >
            +
          </button>
        </div>
      </div>

      <div class="ml-12 w-24 flex flex-col">
        <button
          type="button"
          class="h-16 font-semibold rounded-lg bg-green-400 text-green-800 focus:outline-none focus:shadow-outline"
          {{on "click" this.pass}}
        >
          Pass
        </button>

        <button
          type="button"
          class="mt-2 h-16 font-semibold rounded-lg bg-red-400 text-red-800 focus:outline-none focus:shadow-outline"
          {{on "click" this.bust}}
        >
          Bust!
        </button>
      </div>
    </div>
  </div>
{{/if}}