<div class="flex justify-between">
  <PlayerScore
    @playerNumber={{1}}
    @isCurrentPlayer={{this.player1Turn}}
    @playerScore={{this.player1Score}}
  />

  <PlayerScore
    @playerNumber={{2}}
    @isCurrentPlayer={{this.player2Turn}}
    @playerScore={{this.player2Score}}
  />
</div>

{{#if this.hasWinner}}
  <div class="mt-12 px-4 py-2 text-2xl text-center bg-blue-200 text-blue-800 rounded">
    Player {{this.currentPlayer}} wins!!! 🎉
  </div>

  <div class="mt-12 text-center">
    <button
      type="button"
      class="py-4 px-3 w-1/2 text-lg font-semibold bg-green-300 text-green-900 rounded-lg focus:outline-none focus:shadow-outline"
      {{on "click" this.newGame}}
    >
      New Game
    </button>
  </div>
{{else}}
  <div class="mt-8 flex flex-col">
    <div class="mt-8 mx-auto flex">
      <div>
        <div class="flex">
          <div
            class="
              flex-grow px-4 py-2 text-5xl font-semibold bg-gray-300 text-gray-800 rounded-lg rounded-r-none
              md:text-6xl
            "
          >
            {{this.currentNumber}}
            <div class="uppercase tracking-wide text-xs text-gray-600 md:text-sm">Die Face</div>
          </div>
          <div
            class="
              flex-none w-32 px-4 py-2 text-5xl font-semibold text-right bg-gray-400 text-gray-800 rounded-lg rounded-l-none
              md:w-48 md:text-6xl
            "
          >
            {{this.currentTurnScore}}
            <div class="uppercase tracking-wide text-xs text-gray-600 md:text-sm">Turn Score</div>
          </div>
        </div>
        <div>
          <div class="mt-8">
            <NumberButton @number={{2}} @onClick={{this.numberEntered}} />
            <NumberButton @number={{3}} @onClick={{this.numberEntered}} />
            <NumberButton @number={{4}} @onClick={{this.numberEntered}} />
            <button
              type="button"
              class="
                ml-2 w-32 h-16 font-semibold rounded-lg bg-green-400 text-green-900 focus:outline-none focus:shadow-outline
                md:w-48 md:h-24 md:text-2xl
              "
              {{on "click" this.pass}}
            >
              Pass
            </button>
          </div>
          <div class="mt-2">
            <NumberButton @number={{5}} @onClick={{this.numberEntered}} />
            <NumberButton @number={{6}} @onClick={{this.numberEntered}} />
            <button
              type="button"
              class="
                w-16 h-16 text-xl bg-teal-500 text-teal-100 rounded-full focus:outline-none focus:shadow-outline
                md:w-24 md:h-24 md:text-4xl
              "
              {{on "click" this.addToScore}}
            >
              +
            </button>
            <button
              type="button"
              class="
                ml-2 w-32 h-16 font-semibold rounded-lg bg-red-400 text-red-900 focus:outline-none focus:shadow-outline
                md:w-48 md:h-24 md:text-2xl
              "
              {{on "click" this.bust}}
            >
              Bust!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}